<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul class="loginregister">
              <li><a href="/">Login</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/register">Register</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">
           <p>Successfully logged in!  <a href="/">Click here to continue...</a></p>
       </div>
  </body>
</html>
