<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul class="loginregister">
              <li><a href="/">Login</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/register">Register</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">
           <div id="newbank">
               <form enctype="multipart/form-data" method="post" action="/">
                   <fieldset>
                       <legend>Login</legend>
                       <div class="block">
                           <label for="name" class="left">Select a file:</label>
                           <input type="file" name="xmnfile" id="xmnfile" class="right">
                            <div class="clearfloat">&nbsp;</div>
                       </div>

                       <div class="block">
                           <label for="pass" class="left">Password:</label>
                           <input type="password" id="pass" name="pass" value="" class="right" />
                            <div class="clearfloat">&nbsp;</div>
                       </div>

                       <div class="block">
                           <input type="submit" value="Login" class="btn right" />
                           <div class="clearfloat">&nbsp;</div>
                       </div>
                   </fieldset>
               </form>
           </div>
       </div>
  </body>
</html>
