<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul class="loginregister">
              <li><a href="/">Login</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/register">Register</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">
           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/register">Register</a></li>
                   <li>Registered</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div id="newbank">
               <p>Successfully registered.  Please download your file and store it somewhere safe.  It contains your encrypted private keys used to manage your wallet.  You will need it every time you'll want to login on the blockchain.</p>
               <a href="data:application/octet-stream;charset=utf-16,{{.}}" class="btn">Download</a>
           </div>
       </div>

       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
