<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li>Genesis</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <h1>Genesis Information</h1>
               <p>The genesis represents information that was first created in the first block, and can be changed by creating a community request.  If the token holders of the blockchain approves the modification, then the genesis information changes.</p>
               <table class="tworows">
                   <tr>
                       <td class="left highlight">ID:</td>
                       <td class="highlight">{{.ID}}</td>
                   </tr>
                   <tr>
                       <td class="left">Gaz Price (per KB):</td>
                       <td>{{.GazPricePerKb}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">Gaz Price in Matrix work (per KB):</td>
                       <td class="highlight">{{.GazPriceInMatrixWorkKb}}</td>
                   </tr>
                   <tr>
                       <td class="left">Concensus Needed:</td>
                       <td>{{.ConcensusNeeded}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">Max Amount of Validators:</td>
                       <td class="highlight">{{.MaxAmountOfValidators}}</td>
                   </tr>
                   <tr>
                       <td class="left">User:</td>
                       <td>{{.User.ID}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">Deposit:</td>
                       <td class="highlight">{{.Deposit.ID}}</td>
                   </tr>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
