<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">
           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/requests">Request Groups</a></li>
                   <li><a href="/requests/{{.Keyname.Group.Name}}">{{.Keyname.Group.Name}}</a></li>
                   <li><a href="/requests/{{.Keyname.Group.Name}}/{{.Keyname.Name}}">{{.Keyname.Name}}</a></li>
                   <li>{{.Request.ID}}</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>
           <div class="block">
               <h1>Request: {{.Request.ID}}</h1>
               <table class="tworows">
                   <tr>
                       <td class="left highlight">ID:</td>
                       <td class="highlight">{{.Request.ID}}</td>
                   </tr>
                   <tr>
                       <td class="left">Concensus Needed:</td>
                       <td>{{.Request.ConcensusNeeded}}</td>
                   </tr>
                   <tr>
                       <td class="left">From User:</td>
                       <td><a href="/users/{{.Request.Request.From.Wallet.ID}}">{{.Request.Request.From.Wallet.ID}}</a></td>
                   </tr>
                   <tr>
                       <td class="left">Keyname:</td>
                       <td><a href="/requests/{{.Keyname.Group.Name}}/{{.Keyname.Name}}">{{.Keyname.Name}}</a></td>
                   </tr>
                   <tr>
                       <td class="left">Reason:</td>
                       <td>{{.Request.Request.Reason}}</td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <h2>Score</h2>
                           <table class="tworowsclean">
                               <tr>
                                   <td class="left highlight">Approved:</td>
                                   <td class="highlight">{{.ApprovedPow}}</td>
                               </tr>
                               <tr>
                                   <td class="left highlight">Disapproved:</td>
                                   <td class="highlight">{{.DisapprovedPow}}</td>
                               </tr>
                               <tr>
                                   <td class="left highlight">Neutral:</td>
                                   <td class="highlight">{{.NeutralPow}}</td>
                               </tr>
                               <tr>
                                   <td class="left highlight">Total:</td>
                                   <td class="highlight">{{.TotalPow}}</td>
                               </tr>
                           </table>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <p>Entity JSON:</p>
                           <pre>{{.Request.Request.New}}</pre>
                       </td>
                   </tr>
                   <tr>
                       <td colspan="2">
                           <h2>Vote on Request</h2>
                           <p>Please vote on the current request.  Your vote will be added at the bottom of this page when executed.</p>
                           <form name="vote" id="vote" method="post" action="/requests/{{.Keyname.Group.Name}}/{{.Keyname.Name}}/{{.Request.ID}}/vote">
                               <table class="tworowsclean">
                                   <tr>
                                       <td class="left highlight">User:</td>
                                       <td class="highlight">
                                           <select name="myuser" id="myuser">
                                               {{ range $key, $value := .MyUsers.Users }}
                                                   <option name="user_id" value="{{$value.ID}}">{{$value.Wallet.ID}} ({{$value.Shares}} shares)</option>
                                               {{ end }}
                                           </select>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td class="left highlight">Decision:</td>
                                       <td class="highlight">
                                           <select name="decision" id="decision">
                                               <option name="is_approved" value="is_approved">Approve</option>
                                               <option name="is_disapproved" value="is_disapproved">Disaprove</option>
                                               <option name="is_disapproved" value="is_neutral">Neutral</option>
                                           </select>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td class="left highlight">Reason:</td>
                                       <td class="highlight">
                                           <textarea rows="4" cols="50" id="reason" name="reason" placeholder="Please describe why you voted in this direction.  This might help other people make clearer votes."></textarea>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td colspan="2">
                                           <input type="submit" value="Vote" class="btn" />
                                       </td>
                                   </tr>
                               </table>
                           </form>
                       </td>
                   </tr>
               </table>
           </div>
           <div class="block">
               <h2>Votes</h2>

               {{if .Votes.Votes}}
                   <p>These are the votes created by users on the current request.</p>
                   <table class="onerow">
                       <thead>
                           <tr>
                               <td>ID</td>
                               <td>User</td>
                               <td>Power</td>
                               <td>IsApproved?</td>
                               <td>IsNeutral?</td>
                           </tr>
                       </thead>
                       <tbody>
                           {{ range $key, $value := .Votes.Votes }}
                               <tr>
                                   <td>{{$value.ID}}</td>
                                   <td><a href="/users/{{$value.UserVoterID}}">{{$value.UserVoterID}}</a></td>
                                   <td>{{$value.Pow}}</td>
                                   <td>{{$value.IsApproved}}</td>
                                   <td>{{$value.IsNeutral}}</td>
                               </tr>
                           {{ end }}

                       </tbody>
                   </table>
               {{ else }}
                    <p>There is currently no vote for this request.</p>
               {{ end }}
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
