<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/transfers">Transfers</a></li>
                   <li>New</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <h1>New Transfer</h1>
               <p>To transfer tokens to someone else, please fill the form below.  The shareholders of your wallet will then vote to approve or disapprove the transfer.</p>

               <div id="newtransfer">
                   <form method="post" action="/transfers/new">
                       <fieldset>
                           <legend>Transfer</legend>
                           <div class="block">
                               <label for="fromwalletid" class="left">From Wallet:</label>
                               <select name="fromwalletid" id="fromwalletid" class="right">
                                   {{ range $key, $value := .From }}
                                        <option value="{{$value.On.ID}}">{{$value.On.ID}} ({{$value.Amount}} tokens)</option>
                                   {{ end }}
                               </select>
                                <div class="clearfloat">&nbsp;</div>
                           </div>
                           <div class="block">
                               <label for="towalletid" class="left">To Wallet:</label>
                               <input type="text" id="towalletid" name="towalletid" value="" class="right" />
                                <div class="clearfloat">&nbsp;</div>
                           </div>
                           <div class="block">
                               <label for="name" class="left">Amount:</label>
                               <input type="text" id="amount" name="amount" value="" class="right" />
                                <div class="clearfloat">&nbsp;</div>
                           </div>
                           <div class="block">
                               <label for="reason" class="left">Reason:</label>
                               <textarea rows="4" cols="50" id="reason" name="reason" class="right" placeholder="Please explain why you want to send this transfer..."></textarea>
                                <div class="clearfloat">&nbsp;</div>
                           </div>

                           <div class="block">
                               <input type="submit" value="Send" class="btn right" />
                               <div class="clearfloat">&nbsp;</div>
                           </div>
                       </fieldset>
                   </form>
               </div>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
