<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/users">Users</a></li>
                   <li>Wallet: {{.Wallet.ID}}</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>
           <div class="block">
               <h1>Users of Wallet: {{.Wallet.ID}}</h1>
               <p>This is the users list that hold shares in the wallet (ID: {{.Wallet.ID}}).</p>
               <table class="onerow">
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Shares</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ $walletID := .Wallet.ID}}
                       {{ range $key, $value := .Users.Users }}
                           <tr>
                               <td><a href="/users/{{$walletID}}/{{$value.PubKey}}">{{$value.ID}}</a></td>
                               <td>{{$value.Shares}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
