<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li>Wallets</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <h1>Wallets</h1>
               <p>A wallet represents an entity in which users votes its actions based on their amount of shares.  Here's all the wallets:</p>
               <table class="onerow">
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Concensus Needed</td>
                           <td>Balance</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .Balances }}
                           <tr>
                               <td><a href="/wallets/{{$value.On.ID}}">{{$value.On.ID}}</a></td>
                               <td>{{$value.On.ConcensusNeeded}}</td>
                               <td>{{$value.Amount}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
