<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/deposits">Deposits</a></li>
              <li><a href="/me">My Profile</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

      <div id="main">
          <a href="/banks/new" class="btn right">Create</a>
          <div class="clearfloat">&nbsp;</div>
      </div>
  </body>
</html>

<!--
Pledge() pledge.Pledge
Currency() currency.Currency
Amount() int
Price() int
-->
