<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li>Categories</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">

               <div id="title">
                   <h1>Categories</h1>
                   <a href="/categories/new" class="btn right">Create</a>
                   <span class="clearfloat">&nbsp;</span>
               </div>

               <p>Categories represents a type of currency.  Each category can have a parent.</p>
               <table class="onerow">
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Parent Category</td>
                           <td>Name</td>
                           <td>Description</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .Categories }}
                           <tr>
                               <td><a href="/categories/{{$value.ID}}">{{$value.ID}}</a></td>
                               <td>
                                   {{if $value.Parent}}
                                        <a href="/categories/{{$value.Parent.ID}}">{{$value.Parent.Name}}</a>
                                   {{else}}
                                        None
                                   {{end}}
                               </td>
                               <td>{{$value.Name}}</td>
                               <td>{{$value.Description}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
