<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/categories">Categories</a></li>
                   <li>{{.ID}}</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">

               <div class="block">
                   <h1>Category: {{.ID}}</h1>
                   <table class="tworows">
                       <tr>
                           <td class="left highlight">ID:</td>
                           <td class="highlight">{{.ID}}</td>
                       </tr>
                       <tr>
                           <td class="left highlight">Parent Category:</td>
                           <td class="highlight">
                               {{if .Parent}}
                                    <a href="/categories/{{.Parent.ID}}">{{.Parent.Name}}</a>
                               {{else}}
                                    None
                               {{end}}
                           </td>
                       </tr>
                       <tr>
                           <td class="left">Name:</td>
                           <td>{{.Name}}</td>
                       </tr>
                       <tr>
                           <td class="left">Description:</td>
                           <td>{{.Description}}</td>
                       </tr>
                   </table>
               </div>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
