<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/banks">Banks</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
              <li><a href="/blocks">Blocks</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">
           <div class="block">
               <h2>Genesis:</h2>
               <table>
                   <tr>
                       <td class="left">ID:</td>
                       <td>{{.Genesis.ID}}</td>
                   </tr>
                   <tr>
                       <td class="left">Gaz Price (per KB):</td>
                       <td>{{.Genesis.GazPricePerKb}}</td>
                   </tr>
                   <tr>
                       <td class="left">Gaz Price in Matrix work (per KB):</td>
                       <td>{{.Genesis.GazPriceInMatrixWorkKb}}</td>
                   </tr>
                   <tr>
                       <td class="left">Concensus Needed:</td>
                       <td>{{.Genesis.ConcensusNeeded}}</td>
                   </tr>
                   <tr>
                       <td class="left">Max Amount of Validators:</td>
                       <td>{{.Genesis.MaxAmountOfValidators}}</td>
                   </tr>
                   <tr>
                       <td class="left">User:</td>
                       <td>{{.Genesis.UserID}}</td>
                   </tr>
                   <tr>
                       <td class="left">Deposit:</td>
                       <td>{{.Genesis.DepositID}}</td>
                   </tr>
               </table>
           </div>
           <div class="block">
               <h2>My Users:</h2>
               <table>
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Shares</td>
                           <td>Wallet</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .UserPS.Users }}
                           <tr>
                               <td>{{$value.ID}}</td>
                               <td>{{$value.Shares}}</td>
                               <td>{{$value.WalletID}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
           <div class="block">
               <h2>Wallets I created:</h2>
               <table>
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Creator</td>
                           <td>Concensus Needed</td>
                           <td>Token</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .WalletPS.Wallets }}
                           <tr>
                               <td>{{$value.ID}}</td>
                               <td>{{$value.Creator}}</td>
                               <td>{{$value.ConcensusNeeded}}</td>
                               <td>{{$value.TokenAmount}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
           <div class="block">
               <h2>All Wallets</h2>
               <table>
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Creator</td>
                           <td>Concensus Needed</td>
                           <td>Token</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .AllWalletPS.Wallets }}
                           <tr>
                               <td>{{$value.ID}}</td>
                               <td>{{$value.Creator}}</td>
                               <td>{{$value.ConcensusNeeded}}</td>
                               <td>{{$value.TokenAmount}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
