<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li>Request Groups</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <h1>Request Groups</h1>
               <p>Requests are made by users on the blockchain.  Each request are made by a group of entities.  Here's the possible groups that can interact with a Request.</p>
               <table class="onerow">
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Name</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .Requests }}
                           <tr>
                               <td><a href="/requests/{{$value.Name}}">{{$value.ID}}</a></td>
                               <td><a href="/requests/{{$value.Name}}">{{$value.Name}}</a></td>
                           </tr>
                       {{ end }}
                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
