<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li>Transfers</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <div id="title">
                   <h1>Transfers</h1>
                   <a href="/transfers/new" class="btn right">Create</a>
                   <span class="clearfloat">&nbsp;</span>
               </div>

               <p>Transfers represents tokens sent from a wallet to another.</p>
               <table class="onerow">
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>From Wallet</td>
                           <td>To Wallet</td>
                           <td>Amount</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .Transfers }}
                           <tr>
                               <td><a href="/transfers/{{$value.ID}}">{{$value.ID}}</a></td>
                               <td>{{$value.Withdrawal.From.ID}}</td>
                               <td>{{$value.Deposit.To.ID}}</td>
                               <td>{{$value.Deposit.Amount}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
