<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/genesis">Genesis</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/wallets">Wallets</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/banks">Banks</a></li>
              <li><a href="/currencies">Currencies</a></li>
              <li><a href="/deposits">Deposits</a></li>
          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/transfers">Transfers</a></li>
                   <li>{{.ID}}</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <h1>Transfers</h1>
               <p>Transfers represents tokens sent from a wallet to another.</p>

               <table class="tworows">
                   <tr>
                       <td class="left highlight">ID:</td>
                       <td class="highlight">{{.ID}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">From Wallet:</td>
                       <td class="highlight"><a href="/wallets/{{.Withdrawal.From.ID}}">{{.Withdrawal.From.ID}}</a></td>
                   </tr>
                   <tr>
                       <td class="left highlight">To Wallet:</td>
                       <td class="highlight"><a href="/wallets/{{.Deposit.To.ID}}">{{.Deposit.To.ID}}</a></td>
                   </tr>
                   <tr>
                       <td class="left highlight">Amount:</td>
                       <td class="highlight">{{.Deposit.Amount}}</td>
                   </tr>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
