<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/address">Address</a></li>
              <li><a href="/offers">Offers</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/chains">Chains</a></li>
              <li><a href="/more">More...</a></li>

          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/address">Address</a></li>
                   <li>New</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>

           <div class="block">
               <h1>New Address</h1>
               <p>To request a binding between a bitcoin address and a wallet, please fill in the form below.  The shareholders of your wallet will then vote to approve or disapprove the binding.</p>

               <div id="newaddress">
                   <form method="post" action="/address/new">
                       <fieldset>
                           <legend>Address</legend>
                           <div class="block">
                               <label for="fromwalletid" class="left">Wallet:</label>
                               <select name="fromwalletid" id="fromwalletid" class="right">
                                   {{ range $key, $value := .Users }}
                                        <option value="{{$value.Wallet.ID}}">{{$value.Wallet.ID}} ({{$value.Shares}} shares)</option>
                                   {{ end }}
                               </select>
                                <div class="clearfloat">&nbsp;</div>
                           </div>
                           <div class="block">
                               <label for="address" class="left">Bitcoin Address:</label>
                               <input type="text" id="address" name="address" value="" class="right" />
                                <div class="clearfloat">&nbsp;</div>
                           </div>
                           <div class="block">
                               <label for="reason" class="left">Reason:</label>
                               <textarea rows="4" cols="50" id="reason" name="reason" class="right" placeholder="Please explain why you want to bind this bitcoin address to this wallet..."></textarea>
                                <div class="clearfloat">&nbsp;</div>
                           </div>

                           <div class="block">
                               <input type="submit" value="Send" class="btn right" />
                               <div class="clearfloat">&nbsp;</div>
                           </div>
                       </fieldset>
                   </form>
               </div>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
