<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/address">Address</a></li>
              <li><a href="/offers">Offers</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/deposits">Deposits</a></li>
              <li><a href="/chains">Chains</a></li>
              <li><a href="/deposits">Deposits</a></li>

          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li>Address</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>
           <div class="block">
               <div id="title">
                   <h1>Address</h1>
                   <a href="/address/new" class="btn right">Create</a>
                   <span class="clearfloat">&nbsp;</span>
               </div>
               <p>The addresses represents a binding between a wallet and a bitcoin address.</p>
               <table class="onerow">
                   <thead>
                       <tr>
                           <td>ID</td>
                           <td>Wallet</td>
                           <td>Address</td>
                       </tr>
                   </thead>
                   <tbody>
                       {{ range $key, $value := .Addresses }}
                           <tr>
                               <td>{{$value.ID}}</td>
                               <td><a href="/wallets/{{$value.Wallet.ID}}">{{$value.Wallet.ID}}</a></td>
                               <td>{{$value.Address}}</td>
                           </tr>
                       {{ end }}

                   </tbody>
               </table>
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
