<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>XMN Foreign Exchange</title>
      <link rel="stylesheet" href="/static/default.css">
  </head>
  <body>

      <header>
          <ul>
              <li><a href="/address">Address</a></li>
              <li><a href="/offers">Offers</a></li>
              <li id="logo"><a href="/"><span>Home</span></a></li>
              <li><a href="/chains">Chains</a></li>
              <li><a href="/more">More...</a></li>

          </ul>
          <div class="clearfloat">&nbsp;</div>
      </header>

       <div id="main">

           <div id="breadcrumb">
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/offers">Offers</a></li>
                   <li>{{.Offer.ID}}</li>
               </ul>
               <div class="clearfloat">&nbsp;</div>
           </div>
           <div class="block">
               <h1>Offer: {{.Offer.ID}}</h1>
               <p>Here is the detail of that offer, along with its current deposits.</p>

               <table class="tworows">
                   <tr>
                       <td class="left highlight">ID:</td>
                       <td class="highlight">{{.Offer.ID}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">From Wallet:</td>
                       <td class="highlight"><a href="/wallets/{{.Offer.Pledge.From.From.ID}}">{{.Offer.Pledge.From.From.ID}}</a></td>
                   </tr>
                   <tr>
                       <td class="left highlight">Pledge Amount:</td>
                       <td class="highlight">{{.Offer.Pledge.From.Amount}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">Address:</td>
                       <td class="highlight"><a href="/address/{{.Offer.ToAddress.ID}}">{{.Offer.ToAddress.ID}}</a></td>
                   </tr>
                   <tr>
                       <td class="left highlight">Satoshi Amount:</td>
                       <td class="highlight">{{.Offer.Amount}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">Service Price:</td>
                       <td class="highlight">{{.Offer.Price}}</td>
                   </tr>
                   <tr>
                       <td class="left highlight">Confirmations Required:</td>
                       <td class="highlight">{{.Offer.Confirmations}}</td>
                   </tr>
                   <tr class="nostyle">
                       <td colspan="2">
                           <h2>Make a deposit</h2>
                           <p>To make a deposit on that offer, please fill in the form below.</p>

                           <div id="newdeposit">
                               <form method="post" action="/offers/{{.Offer.ID}}">
                                   <fieldset>
                                       <legend>Address</legend>
                                       <div class="block">
                                           <label for="addressid" class="left">Bitcoin Address:</label>
                                           <select name="addressid" id="addressid" class="right">
                                               {{ range $key, $value := .MyAddresses }}
                                                    <option value="{{$value.ID}}">{{$value.Address}}</option>
                                               {{ end }}
                                           </select>
                                            <div class="clearfloat">&nbsp;</div>
                                       </div>
                                       <div class="block">
                                           <label for="amount" class="left">Amount:</label>
                                           <input type="text" id="amount" name="amount" value="" class="right" />
                                           <div class="clearfloat">&nbsp;</div>
                                       </div>
                                       <div class="block">
                                           <label for="reason" class="left">Reason:</label>
                                           <textarea rows="4" cols="50" id="reason" name="reason" placeholder="Please describe why you want to create that deposit."></textarea>
                                           <div class="clearfloat">&nbsp;</div>
                                       </div>

                                       <div class="block">
                                           <input type="submit" value="Send" class="btn right" />
                                           <div class="clearfloat">&nbsp;</div>
                                       </div>
                                   </fieldset>
                               </form>
                           </div>
                       </td>
                   </tr>
               </table>
           </div>
           <div class="block">
               <h2>Deposits</h2>

               {{if .Deposits.Deposits}}
                   <p>These are the deposits made on that offer.</p>
                   <table class="onerow">
                       <thead>
                           <tr>
                               <td>ID</td>
                               <td>Address</td>
                               <td>Satoshi Amount</td>
                           </tr>
                       </thead>
                       <tbody>
                           {{ range $key, $value := .Deposits.Deposits }}
                               <tr>
                                   <td>{{$value.ID}}</td>
                                   <td><a href="/address/{{$value.From.ID}}">{{$value.From.ID}}</a></td>
                                   <td>{{$value.Amount}}</td>
                               </tr>
                           {{ end }}

                       </tbody>
                   </table>
               {{ else }}
                    <p>There is currently no deposit for this offer.</p>
               {{ end }}
           </div>
       </div>
       <footer>
           <p>&copy;  XMN Blockchain Services Ltd.  The software and its blockchain is open source under the <a href="/license">MIT license</a>.</p>
       </footer>
  </body>
</html>
