body {font-size: 14px; font-family: Gabriele, Helvetica, Arial, sans-serif; line-height: 160%;}

a {text-decoration: none; color: #0677cc;}
a:hover {color: #cc0696;}

p {padding: 10px 0px 10px 0px;}

@font-face {
  font-family: Gabriele;
  src: local("Gabriele"),
       local("Gabriele"),
       url(gabriele.black-ribbon-fg-regular.ttf);
  font-weight: bold;
}

.left {float: left;}
.right {float: right;}

form {padding: 20px; margin: 0px;}
form .block {padding: 5px 0px 15px 0px; margin: 5px 0px 5px 0px;}
form input {padding: 5px; margin: 0px; border: 1px solid #0677cc; font-family: Gabriele, Helvetica, Arial, sans-serif;}
form textarea {padding: 5px; margin: 0px; border: 1px solid #0677cc; font-family: Gabriele, Helvetica, Arial, sans-serif;}
form .btn {font-size: 14px; font-family: Gabriele, Helvetica, Arial, sans-serif; border: 0px;}

header {padding: 10px;}
header .loginregister {width: 300px;}
header ul {list-style: none; margin: 0px auto 0px auto; padding: 0; width: 660px;}
header ul li {float: left; padding: 50px 15px 0px 15px;}
header #logo {padding-top: 0px;}
header #logo a {background-image: url('logo_topmenu.png'); background-repeat: no-repeat; width: 100px; height: 100px; display: block;}
header #logo a span {display: none;}

footer {padding: 5px; margin: 5px auto 5px auto; width: 800px; font-size: 12px; background-color: #f2f8fc; text-align: center;}

#main {width: 800px; margin: 20px auto 100px auto;}
#main .btn {background-color: #0677cc; padding: 10px; color: #ffffff;}
#main .btn:hover {background-color: #cc0696;}

#main #breadcrumb {margin: 5px 0px 5px 0px; padding: 0; padding: 5px 0px 5px 0px; background-color: #e7f2fa;}
#main #breadcrumb ul {list-style: none; margin: 0; padding: 0px 0px 0px 20px;}
#main #breadcrumb ul li {float: left; padding: 0px 10px 0px 0px; margin: 0;}
#main #breadcrumb ul li a:after {content: " / ";}

#main .block .tworows td {width: 90%; padding: 5px; border-bottom: 1px solid #000000;}
#main .block .tworows .left {background-color: #f2f8fc;}

.clearfloat {clear: both; height: 1px; display: block;}
